/*
--color-0-prim:var(--color-winey);
--color-0-scnd:var(--color-text);
*/

.constainer{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.form_container{
    margin-top:1vh;
    min-height:20vh;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.form_group_container{
    display:flex;
    flex-direction:column;
    min-width: 25vw;
    margin-left:2vw;
    border: .25vw solid var(--color-0-prim);
    padding:2vw;
    border-radius: .75vw;
    margin-bottom: 2vh;
}

.form_group_container>*{
    margin-bottom:1.25vh;
    position:relative;
}